html {
  text-align: left;

  body {
    margin: auto 24px;

    form {
      text-align: left;
    }

    ul {
      display: grid;
      gap: 24px;
      grid-template-columns: 1fr;
      justify-items: center;
      list-style: none;
      padding-left: 0;
    }

    li {
      max-width: 314px;
      height: 393.39999px;
      border: 1px solid #ced4da;
    }
  }
}

@media screen and (min-width: 768px) {
  html {
    text-align: center;

    body {
      margin: auto 57px;

      ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      li {
        max-width: 348px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  html {
    body {
      margin: auto;
      max-width: 1320px;

      ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }

      li {
        max-width: 424px;
      }
    }
  }
}
